/* Title Section */

.titleClass{
    padding: 3% 15%;
    background-color: #ffcc29;
    text-align: center;
    
}

.title-image{
    width: 70%;
    border-radius: 100%;
    margin: 5%;
}

.quote{
    text-align: center;
    padding: 10%
}

/* Navigation Bar */
.navbar-brand{
    font-family: 'Poppins', sans-serif;
}

.nav-link{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: black;
}