/* Title Section */

.titleClass {
  background-color: #ffcc29;
  text-align: center;
  width: auto;
}

.title-image {
  width: 70%;
  border-radius: 100%;
  margin: 5% 0 5% 25%;
}

@media (max-width: 968px) {
  .title-image {
    margin: 5% 0 5% 30%;
  }

  .quote {
    text-align: center;
  }
  .quote-text {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
  }

  .title-div {
    padding: 3% 15%;
    max-width: 100%;
  }
}

  /* !!! NAVBAR CSS */
  .navbar-custom {
    margin-left: 2%;
    margin-right: 2%;
  }
  .nav-link {
    font-family: "Poppins", sans-serif;
    color: black !important;
  }

  /* About Us */

  #aboutUs {
    padding: 7% 15%;
    text-align: center;
    font-family: "Lato", sans-serif;
  }

  .aboutus-content {
    text-align: justify;
  }
  @media (max-width: 750px) {
    .aboutus-content {
      text-align: justify;
    }
  }
  @media (max-width: 1000px) {
    .aboutus-gif {
      width: 80%;
    }
  }

  /* Our Story Section */
  #ourStory {
    background-color: #ffcc29;
    text-align: center;
    padding: 7% 15%;
    font-family: "Lato", sans-serif;
  }

  .ourStoryRow {
    padding-top: 3%;
  }
  .ourStoryContent {
    padding-right: 10%;
    text-align: justify;
  }

  /* Contact Us Section */

  #ContactUs {
    padding: 7% 10%;
    text-align: center;
    font-family: "Lato", sans-serif;
  }

  .form-custom {
    text-align: justify;
  }

  .contact-custom {
    background: rgba(255, 204, 41, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .location {
    padding: 3%;
  }

  /* Volunteer Experience Section */

  #volunteerExperience {
    background-color: #ffcc29;
    text-align: center;
    font-family: "Lato", sans-serif;
    padding: 5% 10%;
  }

  .carousel-inner {
    padding: 7% 15%;
  }

  .image-carousel-custom {
    width: 15%;
    border-radius: 100%;
    padding: 2%;
  }

  /* Footer */

  #footer {
    text-align: center;
    padding: 5% 7% 5% 7%;
    font-family: "Playfair Display", serif;
  }

  .closing {
    color: black;
  }
  .footer-icon {
    margin: 3%;
    color: black;
  }

  .social-div {
    margin-bottom: 3%;
  }

  /*Accordion container and each item*/

  .accordion-item {
    background-color: transparent;
    border-bottom: 3px solid #ffcc29;
    border-left: none;
    border-right: none;

    margin-bottom: 10px;
    padding: 10px;
  }
  .accordion-item:hover {
    background-color: #ffcc29;
  }

  /* Miscellanous */

  .section-title {
  }

  #modal_container {
    display: none;
    pointer-events: none;
    font-family: "Lato", sans-serif;
    margin: 2%;
  }

  #modal_container.show {
    display: block;
    pointer-events: auto;
    opacity: 1;
    font-family: "Lato", sans-serif;
    text-align: left;
  }
  #myBody.making-body-translucent {
    opacity: 0.5;
    pointer-events: none;
  }

  .head-contact {
    text-align: center;
  }

  .location {
    margin-bottom: 1%;
    padding: 0%;
  }
  .phone {
    margin-bottom: 2%;
  }
  .mail {
    margin-bottom: 2%;
  }
  .icon {
    margin-right: 1%;
    color: #ffcc29;
  }
  .icon-social {
    margin-right: 3%;
    color: #ffcc29;
  }
