/* ! TITLE ANIMATION  */
#pagetitle {
  background-color: green;
}
.popout {
  font-family: Futura, sans-serif;
  font-weight: 900;
  font-size: 80px;
  padding: 80px;
}
@keyframes ani {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #fea82f;
    color: black;
  }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #fea82f;
    color: black;
  }
  70% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #fea82f;
    color: black;
  }
  100% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #fea82f;
    color: black;
  }
}
.popout span {
  position: relative;
  display: inline-block;
  animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
.popout span:nth-last-child(1n) {
  animation-delay: -0.1666666667s;
}
.popout span:nth-last-child(2n) {
  animation-delay: -0.3333333333s;
}
.popout span:nth-last-child(3n) {
  animation-delay: -0.5s;
}

@media (max-width: 971px) {
  .popout {
    font-family: Futura, sans-serif;
    font-weight: 900;
    font-size: 60px;
    padding: 80px;
    text-align: center;
  }
  .research-img {
    width: 55%;
  }
}
@media (max-width: 610px) {
  .popout {
    font-family: Futura, sans-serif;
    font-weight: 900;
    font-size: 40px;
    padding: 20px;
    text-align: center;
  }
}

/* !!! NAVBAR CSS */
.navbar-custom {
  margin-left: 2%;
  margin-right: 2%;
}

/* !!! Headings  */
.search {
  margin: 2%;
}

/* !!! Search !!! */
#searchBySubjects {
  text-align: center;
}
.search-row {
  max-width: 60% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media (max-width: 950px) {
  .search-row {
    max-width: 80% !important;
  }
}
.subject-button {
  margin-top: 2%;
  margin-bottom: 2%;
}
/* !!! SUBJECT VIDEO SECTION */
.subject-title {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}

/* !!! Youtube Responsiveness  */
.youtube-iframe {
  position: relative;
  width: 70% !important;
  max-height: 70% !important ;
}
.video {
  margin-top: 2%;
  margin-left: 2% !important;
  margin-right: 2% !important;
}
.video-margin {
  margin-top: -10%;
  margin-left: 2% !important;
  margin-right: 2% !important;
}

@media (max-width: 1000px) {
  .youtube-iframe {
    position: relative;
    width: 100% !important;
    max-height: 1000% !important ;
  }
  .video {
    margin-top: 2%;
    margin-left: 2% !important;
    margin-right: 2% !important;
  }
  .video-margin {
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-top: auto;
  }
}
